@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-blue: #0052FF;

  --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@layer base {
  body {
    @apply antialiased bg-white text-gray-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight;
  }
}